name: Run Selenium Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  selenium-tests:
    name: Selenium Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          if [ -f requirements.txt ]
          then
            echo "requirements.txt found, installing dependencies from requirements.txt"
            pip install -r requirements.txt
          else
            echo "requirements.txt not found, installing default dependencies: selenium and webdriver-manager"
            pip install selenium webdriver-manager
          fi

      - name: Run Selenium Tests
        run: python test.py
